*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
header{
    width: auto;
    margin: 30px 20px;
    display:inline;
    justify-content:space-around;
}

header a{
    width: auto;  
    text-decoration: none;
    color: rgb(204, 144, 32);
    font-size: 38px;    
}
h3{
    font-size: 25px;
    justify-content: right;
}


.Begining{
      margin-top: 60px;     
      flex:1;
  }
.Begining h2{
      text-align: center;
  }
.Begining  p{
    text-align: justify;
     font-size: 25px;
 }
.Begining  h2{
   margin: 15px 15px;
}

body {
    --hue: var(--hue-neutral);

    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}
.formScore-listscores {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

h1{
    
    margin-bottom: 15px;
}

.listscores ol li{
    font-size: 20px;
    background-color: rgb(104, 140, 218);
}
.formScore{
    margin-top: 60px;    
    flex:1;
    background-color: rgb(104, 140, 218);
}
.formScore h1{
    font-size:26px ;
}
.formScore label,p{
  font-size:24px;
  margin:5px  
}
.formScore input{
    height: 35px;
}